name: Update .NET Dependencies

# Updates dependencies in a .NET solution.
# Only run the packages step when a solution file is available in the root directory.
# For the PR: check what has changed and use the relevant commit/ PR message.

env:
  PRIVATE_GITHUB_FEED_USER: ${{ secrets.PRIVATE_NUGET_FEED_USER }}
  PRIVATE_GITHUB_FEED_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

on:
  workflow_dispatch:
jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: ./global.json
      - name: Create artifacts/results directory
        run: mkdir -p artifacts/results
      - name: Restore tools
        run: dotnet tool restore
      - name: Bump SDK
        run: |
          dotnet dotbump sdk -o ./artifacts/results/bump-sdk-report.json -s true
      - name: Bump Tools
        run: |
          dotnet dotbump tools -o ./artifacts/results/bump-tools-report.json          
      - name: 'Save results'
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: artifacts/results