name: Update .NET Dependencies

# Updates dependencies in a .NET solution.
# At the moment we have 2 cases: bump the SDK version (security updates only) and bump packages versions.
# Only run the packages step when a solution file is available in the root directory.
# For the PR: check what has changed and use the relevant commit/ PR message.

env:
  PRIVATE_GITHUB_FEED_USER: ${{ secrets.PRIVATE_NUGET_FEED_USER }}
  PRIVATE_GITHUB_FEED_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

on:
  workflow_dispatch:
jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: ./global.json
      - name: Get app token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.PULL_REQUEST_APP_ID }}
          private-key: ${{ secrets.PULL_REQUEST_PRIVATE_KEY }}
      - name: Create artifacts/results directory
        run: mkdir -p artifacts/results
      - name: Restore tools
        run: dotnet tool restore
      - name: Check for solution file
        id: check-sln
        run: |
          if ls *.sln 1> /dev/null 2>&1; then
            echo "found=true" >> $GITHUB_OUTPUT
            echo "Solution file exists"
          else
            echo "found=false" >> $GITHUB_OUTPUT
            echo "No solution file found"
          fi
      - name: Bump NuGet packages
        if: steps.check-sln.outputs.found == 'true'
        run: |
          dotnet dotnet-outdated -vl Major -u -o ./artifacts/results/bump-nuget-result.json
      - name: Bump SDK
        run: |
          dotnet dotbump sdk -o ./artifacts/results/bump-sdk-report.json -s true
      - name: Bump Tools
        run: |
          dotnet dotbump tools -o ./artifacts/results/bump-tools-report.json          
      - name: Check for changes
        id: changes
        run: |
          BASE_REF=${{ github.base_ref }}
          if [ -z "$BASE_REF" ]; then BASE_REF="main"; fi
          git fetch origin "$BASE_REF" --depth=1
          git diff --name-only "origin/$BASE_REF" > changed_files.txt
          echo "csproj_changed=false" >> $GITHUB_OUTPUT
          echo "globaljson_changed=false" >> $GITHUB_OUTPUT
          echo "dotnettools_changed=false" >> $GITHUB_OUTPUT
          
          if grep -qE '\.csproj$' changed_files.txt; then
            echo "csproj_changed=true" >> $GITHUB_OUTPUT
          fi
          
          if grep -q '^global\.json$' changed_files.txt; then
            echo "globaljson_changed=true" >> $GITHUB_OUTPUT
          fi
          
          if grep -q 'dotnet-tools\.json$' changed_files.txt; then
            echo "dotnettools_changed=true" >> $GITHUB_OUTPUT
          fi
          
          if [ -f changed_files.txt ]; then
            rm changed_files.txt
            echo "Cleaned up changed_files.txt"
          fi

      - name: Prepare pull request metadata
        id: pr-meta
        run: |
          csproj="${{ steps.changes.outputs.csproj_changed }}"
          globaljson="${{ steps.changes.outputs.globaljson_changed }}"
          tools="${{ steps.changes.outputs.dotnettools_changed }}"
          
          # Default values
          pr_title=""
          pr_commit=""
          pr_body="Automated dependency update."

          # packages, sdk and tools updated
          if [ "$csproj" = "true" ] && [ "$globaljson" = "true" ] && [ "$tools" = "true" ]; then
            # packages, sdk and tools updated
            pr_title="dep: bump .NET SDK, Tools and NuGet package versions"
            pr_commit="dep: bump .NET SDK, Tools and NuGet package versions"
          elif [ "$csproj" = "true" ] && [ "$globaljson" = "true" ]; then
            # packages and sdk updated
            pr_title="dep: bump .NET SDK and NuGet package versions"
            pr_commit="dep: bump .NET SDK and NuGet package versions"
          elif [ "$globaljson" = "true" ] && [ "$tools" = "true" ]; then
            # sdk and tools updated
            pr_title="dep: bump .NET SDK and Tools versions" 
            pr_commit="dep: bump .NET SDK and Tools versions"
          elif [ "$csproj" = "true" ] && [ "$tools" = "true" ]; then
            # packages and tools updated
              pr_title="dep: bump .NET Tools and NuGet package versions"
              pr_commit="dep: bump .NET Tools and NuGet package versions"
          elif [ "$csproj" = "true" ]; then
            pr_title="dep: bump NuGet package versions"
            pr_commit="dep: bump NuGet package versions"
          elif [ "$globaljson" = "true" ]; then
            pr_title="dep: bump .NET SDK version"
            pr_commit="dep: bump .NET SDK version"
           elif [ "$tools" = "true" ]; then
            pr_title="dep: bump .NET Tools versions"
            pr_commit="dep: bump .NET Tools versions"
          fi

          echo "title=${pr_title}" >> "$GITHUB_OUTPUT"
          echo "commit=${pr_commit}" >> "$GITHUB_OUTPUT"
          echo "body=${pr_body}" >> "$GITHUB_OUTPUT"

      - name: Create pull request
        if: steps.changes.outputs.csproj_changed == 'true' || steps.changes.outputs.globaljson_changed == 'true' || steps.changes.outputs.dotnettools_changed == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: ${{ steps.pr-meta.outputs.commit }}
          title: ${{ steps.pr-meta.outputs.title }}
          body: ${{ steps.pr-meta.outputs.body }}
          branch: dependency-update
          delete-branch: 'true'
          assignees: robyvandamme

      - name: 'Save results'
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: artifacts/results